@import url(./style.css);

.container-70 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.container-30 {
    width: 30%;
    height: 600px;
    background-color: blue;
}

.post-section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    color: rgba(24, 24, 24, 0.2);
}

.post-section ::placeholder  {
    color: rgba(24, 24, 24, 0.2);
}

.post-holder{
    border: none;
}

.icons-newp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fa-paper-plane {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 25px;
    width: 25px;
}

.sort-loose {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 30px 0;
}

.sort-loose hr {
    width: 50%;
    opacity: 20%; 
}

.text-inside-sort {
    width: 200px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 10px;
    cursor: pointer;
}

.blue-sort {
    color: var(--blue-pattern);
    padding-left: 6px;
}

.blue-sort i {
    padding-left: 5px;
}