@import url(./style.css);

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer ul {
    list-style-type: none;
}

footer li a {
    text-decoration: none;
}

.imgs-footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.bts-on-footer {
    display: flex;
    flex-direction: column;
}

.col01-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}