@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@import url(./feed.css);
@import url(./index.css);
@import url(./constants.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./perso-text.css);
@import url(./box-container.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
}

.container-pattern  {
    margin: 2% 8%;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}
